<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_card' %>
    <%= render 'shared/filter_card' %>
  </div>
  <div class="col-md-8">
    <%= image_tag('sample_event_01.jpg', :class => "round-list-item thumbnail") %>
    <%= image_tag('sample_event_02.jpg', :class => "round-list-item thumbnail") %>
    <%= image_tag('sample_event_03.jpg', :class => "round-list-item thumbnail") %>
    <%= image_tag('sample_event_04.jpg', :class => "round-list-item thumbnail") %>
    <%= image_tag('sample_event_05.jpg', :class => "round-list-item thumbnail") %>
  </div>
</div>
