<div class="row">
  <%= form_for(@round) do |f| %>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <% if @round.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>
    
          <ul>
          <% @round.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title , placeholder: I18n.t('rounds.form.title.placeholder') %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, :size=>"60x10", placeholder: I18n.t('rounds.form.description.placeholder') %>
      </div>
      <div class="field">
        <%= f.label I18n.t('rounds.form.term.title') %><br>
        <%= select :r, :term, [["30分", "0.5"], ["1時間", "1.0"], ["1時間30分", "1.5"], ["2時間", "2.0"], ["2時間30分", "2.5"], ["3時間", "3.0"], ["3時間30分", "3.5"], ["4時間", "4.0"], ["4時間30分", "4.5"], ["5時間", "5.0"], ["5時間30分", "5.5"], ["6時間", "6.0"]] %>
      </div>
      <div>
        <%= image_tag @round.picture.url if @round.picture %>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </div>
      <div class="field">
        <%= hidden_field :r, :lat %>
      </div>
      <div class="field">
        <%= hidden_field :r, :lng %>
      </div>
      <div class="actions hidden-sm hidden-xs">
        <%= f.submit I18n.t('rounds.form.submit'), class: "btn btn-signup" %>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <%= f.label "マップ" %>
      <%= render 'shared/map' %>
      <div class="actions hidden-lg hidden-md">
        <%= f.submit I18n.t('rounds.form.submit'), class: "btn btn-signup" %>
      </div>
    </div>
  <% end %>
</div>
