<div class="row">
  <div class="col-md-4">
    <%= render 'shared/round_card', round: @round %>
    
    <!-- TODO DemoDay用に、いったん決め打ちの条件分岐を設定。あとでちゃんと実装する。 -->
    <% if @round.id % 4 == 1 || @round.id % 4 == 2 %>
      <!-- ラウンド開催前の場合表示 -->
      <%= render 'shared/round_join_form', round: @round %>
    <% elsif @round.id % 4 == 3 %>
      <!-- ラウンド開催中に表示 -->
      <%= render 'shared/round_tool', round: @round %>
    <% else %>
      <!-- ラウンド終了後に表示 -->
      <%= render 'shared/round_end_logo', round: @round %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= render 'shared/rader' %>
  </div>
</div>

<!-- ボールゲット時のアニメーション用 -->
<div id="score-animation" class="hidden">
  <div class="dark-screen btn-clear"></div>
  <div class="score-message">
    <h1>GET!!</h1>
    <button class="btn btn-warning btn-clear">OK</button>
  </div>
</div>

<%= javascript_tag do %>
  <!--jsのボタンイベントで利用する変数（読み込み順の関係で、初期処理時に使う変数は渡せない）-->
  window.round_id = <%= @round.id %>;
  window.user_id = <%= @user.id %>;
<% end %>

<script>
  $(".nav_menu").removeClass("active");
  $("#round").removeClass("hidden").addClass("active"); 
</script>
