<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <%= render 'shared/round_card', round: @round %>
    
    <% if @round.end_at.future? %>
      <!-- ラウンド開催中に表示 -->
      <div id="round-tool-form">
        <%= render 'shared/round_tool_form', round: @round %>
      </div>
    <% else %>
      <!-- ラウンド終了後に表示 -->
      <%= render 'shared/round_end_logo', round: @round %>
    <% end %>
  	<% if current_user == @round.owner %>
  	  <!-- 主催者の場合のみ表示 -->
  	  <div id="appear-in">
    	  <%= render 'shared/appear_in', round: @round %>
  	  </div>
  	  <div id="wish-user-area">
        <h2><%= I18n.t('rounds.show.wish_user.tab_name') %></h2>
  	    <%= render('shared/wish_users_list', wish_users: @wish_users) %>
  	  </div>
  	<% end %>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div id="talk-area">
      <h2><%= I18n.t('rounds.show.talk.tab_name') %></h2>
      <%= render 'shared/talk_list', talks: @talk_list %>
    </div>
  </div>
</div>

<script>
  $(".nav_menu").removeClass("active");
  $("#round").removeClass("hidden").addClass("active"); 
</script>
