<div class="round-card">
  <h2 class="caption"><%= I18n.t('activerecord.attributes.round.title') %></h2>
  <p class="content"><%= round.title %></p>

  <h2 class="caption"><%= I18n.t('activerecord.attributes.round.description') %></h2>
  <p class="content"><%= round.description %></p>

  <h2 class="caption"><%= I18n.t('rounds.show.date') %></h2>
  <p class="content"><%= round.start_at.to_date %></p>

  <h2 class="caption"><%= I18n.t('rounds.show.time') %></h2>
  <p class="content"><%= round.start_at.strftime("%R") + " - " + round.end_at.strftime("%R") %></p>
</div>
