<div class="tool zoom-controll">
  <h2 class="caption">ズーム</h2>
  <button class="btn btn-warning zoom-up"><span class="glyphicon glyphicon-plus-sign"></span> <%= I18n.t('rounds.tool.zoom_up') %></button>
  <button class="btn btn-warning zoom-out"><span class="glyphicon glyphicon-minus-sign"></span> <%= I18n.t('rounds.tool.zoom_out') %></button>
</div>

<div class="tool rader-controll">
  <h2 class="caption">レーダー</h2>
  <button class="btn btn-warning reposition"><span class="glyphicon glyphicon-repeat"></span> <%= I18n.t('rounds.tool.reposition') %></button>
  <button class="btn btn-warning rader-size"><span class="glyphicon glyphicon-th-large"></span> <%= I18n.t('rounds.tool.rader_size') %></button>
</div>

<div class="tool game-controll">
  <h2 class="caption">ボール</h2>
  <button class="btn btn-warning score"><span class="glyphicon glyphicon-eye-open"></span> <%= I18n.t('rounds.tool.score') %></button>
  <button class="btn btn-warning battle"><span class="glyphicon glyphicon-fire"></span> <%= I18n.t('rounds.tool.battle') %></button>
</div>

<div class="tool ball-box">
  <h2 class="caption">ゲット済みボール</h2>
  <p id="ball1" class="hidden">イーシンチュウ</p>
  <p id="ball2" class="hidden">アルシンチュウ</p>
  <p id="ball3" class="hidden">サンシンチュウ</p>
  <p id="ball4" class="hidden">スーシンチュウ</p>
  <p id="ball5" class="hidden">ウーシンチュウ</p>
  <p id="ball6" class="hidden">リュウシンチュウ</p>
  <p id="ball7" class="hidden">チーシンチュウ</p>
</div>
