<div class="round-list-item">
  <%= link_to round do %>
    <% if round.picture.present? %>
      <%= image_tag round.picture_url(:thumb).to_s, :class => "round-image", :size => '300x169' %>
    <% else %>
      <%= image_tag "intro.jpg", :class => "round-image", :size => '300x169' %>
    <% end %>      
    <div class="round-title">
      <%= round.title %>
    </div>
    <div class="round-start-at">
      <%= round.end_at.to_s(:round_list) %>まで
    </div>
  <% end %>
  <div class="round-list-label">
    <% if round.end_at.future? %>
      <div class="open btn btn-sm"></div>
    <% else %>
      <div class="opened btn btn-sm"></div>
    <% end %>
  </div>
</div>
