<h2><%= I18n.t('rounds.show.talk.tab_name') %></h2>
<%= render 'shared/talk_form' %>
<% if talks.present? %>
  <ol class="talks">
    <% talks.each do |t| %>
      <%= render partial: 'shared/talk', locals: {talk: t } %>
    <% end %>
  </ol>
  <%= paginate talks %>
<% else %>
  <div>
    <h2><%= I18n.t('rounds.show.talk.empty') %></h2>
  </div>
<% end %>
